// format_c.less

#menu {
	float: right;
}

ul.authors {
	li{
	display: inline;
	}
}

.navbar {
	.navbar-text {
		display: inline;
		//line-height: 50px;
	}
  button {
    margin: 8px 5px 0px 5px;
  }
}

#tocpanel {
	position: fixed;
}

body {
	background: #fff;
	color: #000;
}

.title {
	color: #333;
	font-size: 25px;
}

h3 {
	font-size: 20px;
}

div.abstract {
//	background: pink;
//	border: solid 1px #eee;
	padding: 30px;
	margin-bottom: 30px;
	text-align: justify;
}
.maintext{
	text-align: justify;
}

#maincontent {
	padding-top: 80px;
}

body.inverted{
	background: #000;
	.navbar {
		p {
			color: black;
		}
	}
	color: #fff;
	.title{
		color: #eee;
	}
}

