div#maindiv {
  position: relative;
  top: 45px;
  left: 10px;
  width: auto;
  margin: 10px;
  height: 600px;
  margin-bottom: 10px ! important;
  padding-bottom: 10px;
}

.hidden {
  display: none;  
}

ul.stacked {
  margin-top: 10px;
  li {
    list-style-type: none;
    line-height: 20px;
    height: 30px;
    a {
      margin: 2px 0px 3px;
      padding: 8px 12px;
      text-decoration: none;
      cursor: default;  
      &.active {
        background: rgb(0,136,204);
      }
      &:hover {
        background: rgb(238,238,238);
      }
      border-radius: 5px;
    }
  }
}

#tagModal {
  #tag-input {
    width: 100%;
  }
}

span.tagnum {
  float: right;
}

#taglist-heading {
  text-align: center;
  font-size: 12px;
  margin: 20px 0px -10px 0px;
}

h4.paperlist-help {
  font-size: 16px;
  font-weight: bold;
}

table.paperlist-help {
  font-size: 14px;
  td.key {
    font-weight: bold;
    width: 80px;
  }
  td.exp {
    width: 200px;
  }
  td.key {
    margin: 0px;
  }
  td.exp {
    margin-bottom: 15px;
  }
}

#button-help {
  margin-right: 50px;
}
#button-logout {

  margin-right: 10px;
}
