<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<title>Activity log</title>
	<link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/activity.css">
</head>
<body>
<div class="navbar">
  <a class="navbar-brand" href="#">PaperServer</a>
  <ul class="nav navbar-nav">
    <li><a href="#">Reader</a></li>
    <li><a href="/list">List</a></li>
    <li class="active"><a href="#">Stats</a></li>
  </ul>
</div>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-2' id='leftpane'>
				<ul class="nav nav-pills nav-stacked">
					<li><a id='timeline' class='choose-pane' data-pane='timeline'>Timeline</a></li>	
					<li><a id='statistics' class='choose-pane' data-pane='stat'>Statistics</a></li>	
					<li><a id="recent" class='choose-pane' data-pane='recent'>Recent</a></li>
					<li><a id='trend' class='choose-pane' data-pane='trend'>Trend by subjects</a></li>	
				</ul>
			</div>
			<div class='col-lg-10'>
				<div id='toppane'>
					<h4>Filter papers</h4>
					<div id='filter-time' class='filter-info'>
						<div class='mylabel'>Time:</div>
						<div class='btn-group' data-toggle="buttons">
							<button class="btn btn-small btn-primary" id='alltime'>All time</button>					
							<button class="btn btn-small btn-primary" id='lastmonth'>Last month</button>					
							<button class="btn btn-small btn-primary" id='lastweek'>Last week</button>					
							<button class="btn btn-small btn-primary" id='today'>Today</button>	
							<button class="btn btn-small btn-primary" id='lasthour'>Last hour</button>					
							<button class="btn btn-small btn-primary" id='customtime'>Custom</button>					
						</div>
					</div>
					<div>
						<div id='filter-fulltext' class='filter-info'>
						<div class='mylabel'>Full text:</div>
							<input>
						</div>
						<div class='clear'></div>
						<div id='filter-author' class='filter-info'>
							<div class='mylabel'>
								Author:
							</div>
							<div class='btn-group' data-toggle="buttons-radio">
								<button class="btn btn-mini active">AND</button>					
								<button class="btn btn-mini">OR</button>
							</div>					
							<div id='author-list'>
								<i class="icon-black icon-plus-sign"> </i>
							</div>
						</div>
						<div class='clear'></div>
					</div>
				</div>
				<div class='mainview'>
					<div id='content-timeline' class='content'>
						<div id='calendar'></div>

						<div>
							<table class='table'>
								<thead>
									<tr>
										<td></td>
										<td>Title</td>
										<td>Links</td>
										<td>Citation</td>
									</tr>
								</thead>
								<tbody id="paper-list">

									<script type="text/template" id="timeline-item-template">

										<td class='check'>x</td>
										<td><%= title %></td>
										<td>
											<a href='http://dx.doi.org/<%= doi %>'>Original</a> /	
											<a href='/paper/b/<%= id %>'>Formatted</a>
										</td>
										<td>
											<i><%= citation.journal %>,</i>
											<b><%= citation.volume %>,</b>
											<%= citation.pageFrom %>-<%= citation.pageTo %>
											(<%= citation.year %>)
										</td>

									</script>
								</tbody>

							</table>
						</div>
					</div>

					<div id='content-statistics' class='span12 content'>
						<div id='journal-div'>
							<h3>Journals</h3>
							<div id="journal-graph"></div>
						</div>
						<div id='time-div'>
							<h3>Day/time activity</h3>
							<div id="time-graph" style="min-width: 400px; width: 100%; height: 400px;"></div>
						</div>
						<div id='genre-div'>
							<div id="genre-graph" style="min-width: 400px; width: 100%; height: 400px;"></div>
						</div>
					</div>

					<div id='content-recent' class='span12 content'>
						<div id="table"  style='float: left'>
							Recently acquired:
							<table id='t-journals'></table>
						</div>
					</div>

					<div id='content-trend' class='span12 content'>
						Coming soon.
					</div>

				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src='/static/js/lib/jquery.min.js'> </script>
	<script type="text/javascript" src="/static/js/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src='/static/js/lib/underscore-min.js'> </script>
	<script type="text/javascript" src='/static/js/lib/backbone-min.js'> </script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script type="text/javascript" src='/static/js/lib/d3.min.js'></script>


	<script type="text/javascript" src='/static/js/activity.js'> </script>

</body>
</html>
