<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<title>List of papers</title>
	<link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/paperlist.css">
	<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

</head>
<body>

<div class="navbar">
  <a class="navbar-brand" href="#">PaperServer</a>
  <ul class="nav navbar-nav">
    <li><a href="#">Reader</a></li>
    <li class="active"><a href="#">List</a></li>
    <li><a href="/activity">Stats</a></li>
  </ul>
</div>

<div class='container'>
<div class="row">
<div class="col-lg-12 col-12">
<table id="list"></table>
	
</div>	
</div>
</div>

	<script type="text/javascript" src='/static/js/lib/jquery.min.js'> </script>
	<script type="text/javascript" src="/static/js/lib/bootstrap.min.js"></script>

	<script type="text/javascript" src='/static/js/lib/underscore-min.js'> </script>
	<script type="text/javascript" src='/static/js/lib/backbone-min.js'> </script>

	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

	<script type="text/javascript" src='/static/js/paperlist.js'> </script>

</body>
</html>
